@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nexon';
  src: url('../assets/fonts/NEXONLv2Gothic.woff') format('woff');
}

@font-face {
  font-family: 'nexonLight';
  src: url('../assets/fonts/NEXONLv2GothicLight.woff') format('woff');
}

@font-face {
  font-family: 'nexonBold';
  src: url('../assets/fonts/NEXONLv2GothicBold.woff') format('woff');
}

@font-face {
  font-family: 'fugazRegular';
  src: url('../assets/fonts/FugazOneRegular.woff') format('woff');
}

body {
  margin: 0;
  padding: 0 !important;
  width: 100%;
  height: var(--vh, 100vh);
  font-family: 'nexon';
}

html {
  --width: min(calc(var(--vh, 100vh) * 0.6), 100vw);
  font-size: calc(var(--width) * 0.04);
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}

.swal2-popup {
  max-width: calc(var(--vh, 100vh) * 0.5);
}